.indexWrap {
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: var(--contentPad);
}

.title h1 {
  font-size: 2rem;
  font-weight: normal;
}

.versions img {
  width: 100%;
}

.versions > * {
  text-align: center;
}

.blocks h2 {
  margin: 0.5rem 0;
  text-align: center;
}

.blocks ul {
  display: flex;
  list-style: none;
}

.blocks li {
  width: calc(100% / 5);
}

.blocks img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 1080px) {
  .indexWrap {
    grid-template: repeat(3, auto) / 7fr 3fr;
  }

  .title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .versions {
     grid-area: 2 / 2 / 3 / 3;
  }

  .blog {
    grid-area: 2 / 1 / 4 / 2;
  }
}
