.contentContainer {
  padding-top: 9vw;
  padding-bottom: 1vw;
  z-index: 1;
}

.indexWrap {
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: 1vw;
}

.indexWrap div {
  padding: var(--mobContentPad);
  background-color: var(--primaryColor);
  border: var(--mobPrimaryBorder);
  border-radius: var(--mobBorderRadius);
}

.title {
  padding: var(--mobContentPad);
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: normal;
}

.versions img {
  width: 100%;
}

.versions > * {
  text-align: center;
}

.blocks h2 {
  margin: 0.5vw 0;
  text-align: center;
}

.blocks ul {
  display: flex;
  list-style: none;
}

.blocks li {
  width: calc(100% / 5);
}

.blocks img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 1080px) {
  .contentContainer {
    padding-top: 4vw;
    padding-bottom: 0.5vw;
  }

  .indexWrap {
    grid-template: repeat(3, auto) / 7fr 3fr;
    grid-gap: 0.5vw;
  }

  .indexWrap div {

    border-radius: var(--deskBorderRadius);
    border: var(--deskPrimaryBorder);
    padding: var(--deskContentPad);
  }

  .title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .versions {
     grid-area: 2 / 2 / 3 / 3;
  }

  .blog {
    grid-area: 2 / 1 / 4 / 2;
  }
}
